/*Посмотреть урок про минимально обнуление*/
/*как написать свои снипеты в html*/
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
   font-family: Rubik;
   font-size: 12px;
   color: #616161;
}

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.main {
   flex: 1 1 auto;
}

/* ---------- */
[class*="_container"] {
   max-width: 1087px;
   margin: 0px auto;
   padding: 0px 15px;
}

/*pc*/
@media (max-width: 1087px) {
   [class*="_container"] {
      max-width: 970px;
   }
}

/*tablet*/
@media (max-width: 991.98px) {
   [class*="_container"] {
      max-width: 750px;
   }
}

/*mobile*/
@media (max-width: 767.98px) {
   [class*="_container"] {
      max-width: none;
   }
}

/*mobile small*/
@media (max-width: 479.98px) {
   .header__logo {
      flex: 0 0 40px;
      overflow: hidden;
   }
}

/*HEADER-----------------------------------------------------------------------------*/
.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}

.header__container {
   display: flex;
   min-height: 114px;
   align-items: center;
}

.header__logo {
   position: relative;
   z-index: 5;
   transition: 1s;

}

.header__logo:hover {
   transform: scale(1.2);
}

.header__menu {
   flex: 1 1 auto;
}

.header__button {
   position: relative;
   z-index: 5;
   flex: 0 0 252px;
   display: flex;
   justify-content: flex-end;
   align-items: center;

}

/*MENU---------------------------------------------------------------------------------------*/
.menu {
   display: flex;
   justify-content: flex-end;
}

.menu__list {
   display: flex;
}

.menu__item {
   margin: 0px 40px 0px 0px;
}

.menu__link {
   font-family: Raleway;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 10px;
   line-height: 1.2;
   color: black;
   letter-spacing: 1px;
   position: relative;
   line-height: 12px;
   text-align: left;
   cursor: pointer;
   line-height: 1;
   text-decoration: none;
}

.menu__link:after {
   display: block;
   position: absolute;
   left: 0;
   right: 0;
   width: 0;
   height: 2px;
   background-color: #EC5863;
   content: "";
   transition: width 0.3s ease-out;
}

.menu__link:hover:after,
.menu__link:focus:after {
   width: 100%;
   /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

@media (max-width: 991.98px) {
   .header__container {
      min-height: 80px;
   }

   .header__button {
      flex: 0 0 150px;
   }

   .menu__item {
      margin: 0px 30px 0px 0px;
   }
}

@media (max-width: 767.98px) {
   .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #ffffff;
      padding: 90px 15px 30px 15px;
      transition: left 0.3s;
   }

   .header:target .menu__body {
      left: 0;
   }

   .header:target .menu__body:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      height: 80px;
      width: 100%;
      background-color: white;
   }

   .menu__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .menu__item {
      margin: 0px 0px 25px 0px;
   }

   .menu__item:last-child {
      margin-bottom: 0;
   }

   .menu__link {
      font-size: 20px;
   }
}

@media (max-width: 479.98px) {
   .header__logo {
      flex: 0 0 40px;
      overflow: hidden;
   }
}


/*BUTTON-------------------------------------------------------------------------------------*/

.button {
   display: inline-block;
   font-family: Raleway;
   text-transform: uppercase;
   font-weight: 800;
   font-size: 10px;
   line-height: 1.2;
   letter-spacing: 1px;
   color: #FCFDFE;
   padding: 13px 30px;
   border-radius: 5px;
   border: 0px solid;
   background-color: #EC5863;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button:hover {
   background-color: #e93c48;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button__blue {
   background: #4285F4;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.button__blue:hover {
   background: #1f62ce;
   /* transition: width 0.3s ease-out; */
}

/*BURGER-----------------------------------------------------------------------------------*/
.close-icon-menu,
.icon-menu {
   display: none;
}

@media (max-width: 767.98px) {
   .icon-menu {
      display: flex;
      position: relative;
      flex: 0 0 30px;
      height: 18px;
      flex-direction: column;
      justify-content: space-between;
      margin: 0px 0px 0px 20px;
   }

   .icon-menu::before,
   .icon-menu::after {
      content: "";
      background-color: black;
      height: 2px;
   }

   .icon-menu span {
      height: 2px;
      background-color: black;
   }

   .close-icon-menu {
      flex: 0 0 30px;
      height: 18px;
      position: relative;
      margin: 0px 0px 0px 20px;
   }

   .close-icon-menu::before,
   .close-icon-menu::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      background-color: black;
      height: 2px;
   }

   .close-icon-menu::before {
      transform: rotate(37deg);

   }

   .close-icon-menu::after {
      transform: rotate(-37deg);

   }

   .header:target .icon-menu {
      display: none;
   }

   .header:target .close-icon-menu {
      display: flex;
   }
}

/*selection-------------------------------------------------------------------------*/

.block-text__title {
   color: #000000;
   font-weight: 700;
   font-size: 44px;
   line-height: 126%;
}

.block-text__title:not(:last-child) {
   margin: 0px 0px 12px 0px;
}

.block-text__title span {
   color: #EC5863;
}

.block-text__title-blue span {
   color: #4285F4;
}

.block-text__text {
   line-height: 138.5%;
   letter-spacing: 0.08em;
}

.block-text__text:not(:last-child) {
   margin: 0px 0px 24px 0px;
}

@media (max-width: 767.98px) {
   .block-text__title {
      font-size: 34px;
   }

}

/*-------------------------------------------------------------------------------------*/

.get-started {
   background-color: #FAFBFD;
}

.get-started__container {
   padding: 150px 15px 50px 15px;
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   position: relative;
}

.get-started__container::before {
   content: '';
   position: absolute;
   width: 100vw;
   height: 100%;
   right: 267px;
   top: 0;
   /* margin: 0px 0px 0px -252px; */
   transform: translate(100%, 0px);
   background-color: rgba(236, 88, 99, 1);
   border-radius: 30px 0px 0px 30px;

}

.get-started__content {
   flex: 0 1 48%;
   padding: 0px 20px;
}

.get-started__block-text {
   max-width: 410px;
}

.get-started__video {
   flex: 1 1 100%;
   padding: 60px 0px 0px 20px;
}

.get-started__image {
   flex: 0 1 52%;
   position: relative;
   z-index: 2;
}

.get-started__image img {
   max-width: 100%;
}

.video-get-started {
   display: inline-flex;
   align-items: center;
}

.video-get-started__icon {
   flex: 0 0 44px;
   transition: 1s;

}

.video-get-started__icon:hover {
   /*flex: 0 0 50px;*/
   transform: scale(1.2);
}

.video-get-started__body {
   padding: 0px 0px 0px 12px;
}

.video-get-started__title {
   color: rgba(176, 176, 176, 1);
   font-size: 13px;
   line-height: 126%;
   letter-spacing: 1.5px;

}

.video-get-started__title:not(:last-child) {
   margin: 0px 0px 5px 0px;
}

.video-get-started__text {
   color: rgba(0, 0, 0, 1);
   letter-spacing: 2.65px;
   font-size: 9px;
   line-height: 126%;
   text-transform: uppercase;
}

@media (max-width: 991.98px) {
   .get-started__container::before {
      right: 185px;
      border-radius: 20px 0px 0px 20px;
   }
}

@media (max-width: 767.98px) {
   .get-started__container {
      padding: 80px 15px 10px 15px;
   }

   .get-started__image {
      flex: 1 1 100%;
      text-align: center;
      padding: 30px 0px;
   }

   .get-started__container::before {
      display: none;
   }

   .get-started__block-text {
      max-width: none;
   }

   .get-started__content {
      flex: 1 1 100%;
      padding: 0;
   }

   .get-started__video {
      padding: 0;
   }
}

/*stay safe ------------------------------------------------------------------------------------*/
.stay-safe {
   padding: 80px 0;
}

.stay-safe__container {
   display: flex;
   align-items: center;
}

.stay-safe__content {
   flex: 0 1 50%;
}

.stay-safe__media {
   flex: 0 1 50%;
   padding: 0px 0px 0px 47px;
}

.stay-safe__block-text {
   letter-spacing: 0.08em;
}

.media-stay-safe {
   padding: 56px 0px 27px 0px;
   width: 373px;
   text-align: center;
   position: relative;
}

.media-stay-safe__image {
   display: inline-block;
   box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
   border-radius: 16px;
   position: relative;
   width: 61.5%;
}

.media-stay-safe__image img {
   position: relative;
   z-index: 5;
   max-width: 100%;
}

.media-stay-safe__image::after {
   content: '';
   position: absolute;
   bottom: -12px;
   left: 12px;
   width: 206px;
   height: 27px;
   z-index: 2;
   background: rgba(240, 240, 240, 0.49);
   border-radius: 16px;
}

.media-stay-safe__item {
   position: absolute;
   background-color: rgba(236, 88, 99, 1);
   border-radius: 30px;
   width: 77px;
   height: 77px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.media-stay-safe__item_1 {
   top: 0;
   left: 0;
   width: 147px;
   height: 147px;
}

.media-stay-safe__item_2 {
   bottom: 0;
   left: 33px;
}

.media-stay-safe__item_3 {
   bottom: 107px;
   right: 34px;
}

@media (max-width:991.98px) {
   .stay-safe {
      padding: 60px 0;
   }
}

@media (min-width: 991.98px) {

   .stay-safe__media {
      padding: 0 0 0 47px;
   }
}

@media (max-width: 767.98px) {
   .stay-safe__container {
      flex-direction: column-reverse;
   }

   .stay-safe__content {
      margin: 0 0 30px 0;
   }

   .stay-safe {
      padding: 20px 0;
   }


}

@media (max-width: 479.98px) {
   .media-stay-safe {
      width: 290px;
      /* padding: 56px 0px 27px 0px; */
   }

   .media-stay-safe__image::after {
      display: none;
   }
}

/*experts--------------------------------------------------------------------------------------------*/
.experts {
   background: #FAFBFD;
   padding: 103px 0px 116px 0px;
}

.experts__container {}

.experts__statistics {}

.experts__content {
   flex: 0 1 50%;
   padding: 0px 20px 0px 0px;
}


.experts__block-tex {
   max-width: 400px;
}

.statistics-experts {
   max-width: 655px;
   margin: 0px auto;
   position: relative;
}

.experts__body {
   display: flex;
   align-items: center;

}

.experts__video {
   flex: 0 1 50%;
   padding: 0px 0px 30% 0px;
   position: relative;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   border-radius: 8px;
   overflow: hidden;
}

.experts__video iframe {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

@media (max-width: 767.98px) {
   .experts {
      padding: 80px 0px 30px 0px;
   }

   .experts__body {
      align-items: stretch;
      flex-direction: column;

   }

   .experts__video {
      padding: 0px 0px 58% 0px;
   }

   .experts__content {
      padding: 0;
      margin: 0 0 30px 0;
   }

}

.statistics-experts__body {
   background-color: #ffffff;
   box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
   border-radius: 16px;
   position: relative;
   z-index: 2;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   margin: 0px 0px 80px 0px;
}

.statistics-experts__decor {
   position: absolute;
   background-color: rgba(236, 88, 99, 1);
   border-radius: 30px;
   box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.statistics-experts__decor-1 {
   width: 65px;
   height: 65px;
   transform: rotate(-30deg);
   bottom: -21px;
   left: -21px;
   border-radius: 16px;

}

.statistics-experts__decor-2 {
   width: 97px;
   height: 97px;
   right: 50%;
   top: -40px;
   transform: rotate(+30deg);

}

.statistics-experts__decor-3 {
   width: 128px;
   height: 128px;
   right: -45px;
   top: 0px;
   transform: rotate(-30deg);
}

.body-statistics-experts {
   padding: 25px 80px;
   display: flex;
   align-items: center;
}

.body-statistics-experts__item {
   flex: 1 1 25%;
   text-align: center;

}

.body-statistics-experts__item:last-child {
   flex: 0 1 50%;
   letter-spacing: 2px;
}

.body-statistics-experts__value {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: 1px;
   color: #EC5863;
   margin-bottom: 5px;
}

.body-statistics-experts__text {
   font-style: normal;
   font-weight: bold;
   font-size: 11px;
   /* line-height: 2.8; */
   letter-spacing: 3px;
   color: #000000;
   text-transform: uppercase;
   align-items: center;
   text-align: center;
   /* vertical-align: sub; */
}

@media (max-width: 767.98px) {
   .statistics-experts__body {
      margin: 0 0 50px 0;
   }

   .body-statistics-experts {
      padding: 25px;
   }
}

@media (max-width: 479.98px) {
   .body-statistics-experts {
      /* justify-content: center;
		align-items: center; */
      flex-direction: column;
   }

   .body-statistics-experts__item:not(:last-child) {
      margin: 0 0 15px 0;
   }

}